name: Push latest version to DockerHub

on:
  push:
    branches: [master]
    paths-ignore:
      - "README.md"
      - ".github/workflows/release.yml"
      - "scripts/version_validation.sh"

jobs:
  dockerhub-latest:
    runs-on: ubuntu-latest
    env:
      PIP_NO_CACHE_DIR: 0
      DOCKER_TAG: unfor19/githubsecrets:latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install keyrings.alt
          pip install -r requirements.txt
          pip install .
      - name: Test with bash script
        env:
          TEST_GITHUB_TOKEN: ${{ secrets.TEST_GITHUB_TOKEN }}
        run: |
          bash scripts/test_functionality.sh -t $TEST_GITHUB_TOKEN   
      - name: Build Docker Image
        run: |
          echo -n 99.99.99 > ./version
          docker build . --file Dockerfile --tag "${DOCKER_TAG}"
      - name: Push to DockerHub
        run: |
          echo '${{ secrets.DOCKER_PASSWORD }}' | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push "${DOCKER_TAG}" && echo "Pushed $DOCKER_TAG"